{{class.title}}
<table cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th>lesson ID</th>
			<th>lesson title</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each class.lessons}}
		<tr>
			<td>{{lesson_number}}</td>
			<td>{{lesson_title}}</td>
				<td><a href="/classes/{{../class._id}}/lessons/{{lesson_number}}">view Lessons</a></td>

		</tr>
		{{/each}}
	</tbody>
</table>